---
import Layout from '../../../layouts/BaseLayout.astro';
import { topics } from '../../../data/topics';

const { slug } = Astro.params;
const topic = topics.find(t => t.slug === slug);
---
<Layout>
<div class="container grid">

<div class="card">
<h3>{topic.title}</h3>
{topic.lessons.map((l,i)=>(
<div class="lesson" onclick={`playLesson('${l}','course-progress')`}>
▶ {l}
</div>
))}
</div>

<div>
<div class="video"></div>
<h2 id="videoTitle">Select a lesson</h2>

<div class="progress"><div id="progress" class="bar"></div></div>

</div>

</div>
</Layout>
