---
import Layout from '../layouts/BaseLayout.astro';
import { topics } from '../data/topics';
---
<Layout>
<h1 class="container">Courses</h1>
<div class="container fade">
{topics.map(t => (
  <a href={`/topics/${t.slug}`} class="card">{t.title}</a>
))}
</div>
</Layout>
